USE [rework_wlp]
GO
/****** Object:  StoredProcedure [dbo].[EXTRACT_DEPENDENT_CONTINUOUS_CLAIM_FEATURES]    Script Date: 04/05/2011 15:00:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Zhu-Song Mei>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[EXTRACT_DEPENDENT_CONTINUOUS_CLAIM_FEATURES]
	-- Add the parameters for the stored procedure here
	@feature_name VARCHAR(255), -- LL_STD_CTR
	@parent_feature_name VARCHAR(255), --LL_CPT5
    @source_table_name VARCHAR(255), -- MK_LL_OCPS_LLAGG_CLAIMLEVEL_WLLNO
	@feature_table_name VARCHAR(255), -- FEATURES
	@feature_mapping_table_name VARCHAR(255), --CLAIM_FEATURES
	@feature_block_id INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @query varchar(MAX)

    -- Insert statements for procedure here
	DECLARE @feature_type VARCHAR(255)
	SET @feature_type = 'continuous'

	DECLARE @feature_level VARCHAR(10)
	SET @feature_level = 'claim'

	DECLARE @check_feature_query VARCHAR(MAX)
	SET @check_feature_query = ' name = '''+@parent_feature_name+''' AND feature_type = '''+@feature_type+''' AND parent_feature_id IS NULL AND derived_feature_id IS NULL'
	
	DECLARE @check_feature_query2 VARCHAR(MAX)
	SET @check_feature_query2 = ' name = '''+@parent_feature_name+''' AND feature_type = ''discontinuous'' AND parent_feature_id IS NULL and derived_feature_id IS NULL'

	--Insert the parent feature if the feature is not already in there

	SET @query = 'IF NOT EXISTS(SELECT * FROM features WHERE '+@check_feature_query+ ') 
				  INSERT INTO features(name,feature_type,feature_level,status_cd,created_at,feature_block_id) 
			      VALUES('''+ @parent_feature_name +''','''+@feature_type+''','''+@feature_level+''',''active'', GETDATE(),'+CAST(@feature_block_id AS VARCHAR(4))+')'
	PRINT(@query)
	EXEC(@query)
	PRINT('')

	--set @query = 'insert into features (name,parent_feature_id,derived_feature_id,feature_type,status_cd,created_at) select distinct '''+@parent_feature_name+'_' + @feature_name + '_''+ cast('+@parent_feature_name+ ' as varchar(255))
	--, (select feature_id from '+ @feature_table_name+' where name = '''+ @feature_name +'''), ''continuous'',''active'',getdate() from '+@source_table_name
	
	-- Update min AND max fro existing features
	SET @query = 'UPDATE features SET max_range=dt.max_range, min_range=dt.min_range FROM features JOIN
				  (SELECT '''+@parent_feature_name+'_'+@feature_name+'_''+CAST('+@parent_feature_name+' AS VARCHAR(255)) AS name,
						  MAX('+@feature_name+') AS max_range,MIN('+@feature_name+') AS min_range,'+@parent_feature_name+'
				   FROM '+@source_table_name+' GROUP BY '+@parent_feature_name+')dt
				  ON features.name = dt.name'
	PRINT(@query)
	EXEC(@query)
	PRINT('')	

	-- Insert the features into features table
	SET @query = 'INSERT INTO FEATURES (name,parent_feature_id,derived_feature_id,max_range,min_range,feature_type,feature_level,status_cd,created_at) 
				  SELECT DISTINCT dt.fn,
								  (SELECT feature_id FROM FEATURES WHERE ' + @check_feature_query+'),
								  dt2.feature_id,
								  dt3.max_range,
								  dt3.min_range, 
							      '''+@feature_type+''','''+@feature_level+''',''active'',getdate()
				  FROM (SELECT '''+@parent_feature_name+'_'+@feature_name+'_''+CAST( '+@parent_feature_name+' AS VARCHAR(255)) AS fn
						FROM '+@source_table_name+' 
						EXCEPT(SELECT name AS fn FROM features 
							WHERE parent_feature_id = (SELECT feature_id FROM FEATURES WHERE '+@check_feature_query+')) 	
					   )dt
				  JOIN (SELECT '''+@parent_feature_name+'_'+@feature_name+'_''+CAST('+@parent_feature_name+' AS VARCHAR(255)) AS fn,
						MAX('+@feature_name+') AS max_range,
						MIN('+@feature_name+') AS min_range, 
						'+@parent_feature_name+' FROM '+@source_table_name+' GROUP BY '+@parent_feature_name+'
					   )dt3 
				  ON dt.fn = dt3.fn
				  JOIN (SELECT * FROM features 
						WHERE features.parent_feature_id = (SELECT feature_id FROM FEATURES WHERE '+@check_feature_query2+')
					   )dt2
				  ON dt2.name = dt3.'+@parent_feature_name		
	PRINT(@query)
	EXEC(@query)
	PRINT('')	

	--Before Inserting delete the old records

	SET @query = 'DELETE claim_features FROM claim_features JOIN features ON claim_features.feature_id = features.feature_id
				  WHERE parent_feature_id = (SELECT feature_id FROM features WHERE '+@check_feature_query+' )
				  AND claim_id IN(SELECT DISTINCT claim_id FROM claims WHERE need_sparse_matrix_update=1)'
	PRINT(@query)
	EXEC(@query)
	PRINT('')

	SET @query = 'INSERT INTO '+@feature_mapping_table_name+' (claim_id, feature_id,line_no,value,created_at) 
				  SELECT claim_id, feature_id,0,value,getdate() 
				  FROM (SELECT DISTINCT '+@source_table_name+'.claim_id,'''+@parent_feature_name+'_'+@feature_name+'_''+ CAST('+@parent_feature_name+' AS VARCHAR(255)) AS fn1, ' 
					    +@feature_name+' AS VALUE FROM '+@source_table_name+' JOIN claims ON claims.claim_id = '+@source_table_name+'.claim_id
					    WHERE '+@parent_feature_name+'<>'''' AND need_sparse_matrix_update=1) dt1 
				  JOIN (SELECT * FROM features WHERE parent_feature_id = 
							(SELECT feature_id FROM features WHERE '+@check_feature_query+')
					   )dt2
				  ON (dt1.fn1 = dt2.name)'
	PRINT(@query)
	EXEC(@query)
	PRINT('')
END
