USE [rework_wlp]
GO
/****** Object:  StoredProcedure [dbo].[EXTRACT_CLAIM_LEVEL_LINE_SUMMARY_STAT_FEATURES]    Script Date: 04/05/2011 14:59:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Zhu-Song Mei
-- Create date: 12-15-2009
-- Description:	update the aggregate features for certain fields based on their standard deviations. 
-- =============================================
ALTER PROCEDURE [dbo].[EXTRACT_CLAIM_LEVEL_LINE_SUMMARY_STAT_FEATURES]
	-- Add the parameters for the stored procedure here
	@core_feature VARCHAR(1024),
    @source_table_name VARCHAR(255),
	@keep_null_or_empty INT,
	@parent_feature_name VARCHAR(255),
	@feature_block_id INT,
	@aggregate_function VARCHAR(255),
	@raw_table_flag BIT = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets FROM
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SET @query = 'DROP TABLE temp_'+@col_name
	--EXEC(@query)
	DECLARE @query VARCHAR(8000)
	DECLARE @col_name VARCHAR(255)
	SET @col_name = 
			REPLACE(
				REPLACE(
					REPLACE(
						REPLACE(
							REPLACE(
								REPLACE(
									REPLACE(
										REPLACE(
											REPLACE(
												 REPLACE(@core_feature,' ','')
											,'=','')
										,')','')
									,'(','')
								,'.','')
							,'''','')
						,CHAR(13),'')
					,CHAR(9),'')
				,CHAR(10),'')
			,',','')
	SET @col_name = SUBSTRING(@col_name,1,50)
	
	IF @aggregate_function = 'NONE' SET @aggregate_function=''
	
	DECLARE @aggregate_table_name VARCHAR(128)
	SET @aggregate_table_name = 'temp_'+@aggregate_function+'_'+@col_name
	DECLARE @aggregate_table_column VARCHAR(256)
	SET @aggregate_table_column = @aggregate_function+'_'+@col_name
	
	SET @query = 'IF (EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_CATALOG=''rework_wlp'' AND TABLE_SCHEMA=''dbo'' 
				  AND TABLE_NAME='''+@aggregate_table_name+''')) DROP TABLE '+@aggregate_table_name
	EXEC (@query)
	
	EXEC('SELECT * INTO ##temp_table2 FROM INFORMATION_SCHEMA.COLUMNS 
		  WHERE TABLE_CATALOG=''rework_wlp'' AND TABLE_NAME = ''claim_summary_stats'' AND  COLUMN_NAME = '''+@aggregate_table_column+'''')			
	IF EXISTS(SELECT * FROM ##temp_table2) BEGIN
	
		SET @aggregate_table_name = 'claim_summary_stats'
	
	END ELSE BEGIN
	
		SET @query = 'SELECT DISTINCT * INTO '+ @aggregate_table_name +' FROM (SELECT claim_id, '+@aggregate_function+'('+@core_feature+') 
					  AS '+@aggregate_table_column+' 
					  FROM '+@source_table_name+' GROUP BY claim_id)DT ORDER BY claim_id ASC
					  CREATE INDEX temp_claim_id_index ON '+ @aggregate_table_name +'(claim_id ASC)'
	
		PRINT (@query)
		EXEC(@query)
		PRINT('')
	END
	
	DROP TABLE ##temp_table2
	
	SET @aggregate_table_column = @aggregate_table_name+'.'+@aggregate_function+'_'+@col_name

	SET @query ='dbo.EXTRACT_CONTINUOUS_FEATURES_BY_QUERY '''+@aggregate_table_column+''','+@aggregate_table_name+','+CAST(@keep_null_or_empty AS VARCHAR(255))+','
																					   +@parent_feature_name+','+CAST(@feature_block_id AS VARCHAR(256))+',claim'		
	PRINT @query
	EXEC (@query)
	PRINT('')
	
	IF @aggregate_table_name<>'claim_summary_stats' BEGIN
		
		IF NOT (EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES 
			WHERE TABLE_CATALOG='rework_wlp' AND TABLE_SCHEMA='dbo' AND TABLE_NAME='claim_summary_stats')) 
		BEGIN
			SET @query = 'SELECT * INTO claim_summary_stats FROM '+@aggregate_table_name
			EXEC(@query)
		END ELSE BEGIN
			SET @aggregate_table_column = @aggregate_function+'_'+@col_name

			EXEC('SELECT * INTO ##temp_table2 FROM INFORMATION_SCHEMA.COLUMNS 
				  WHERE TABLE_CATALOG=''rework_wlp'' AND TABLE_NAME = ''claim_summary_stats'' AND  COLUMN_NAME = '''+@aggregate_table_column+'''')		
			
			IF NOT EXISTS(SELECT * FROM ##temp_table2)
				EXEC('ALTER TABLE claim_summary_stats ADD '+@aggregate_table_column+' numeric(9,2)')
				
			DROP TABLE ##temp_table2

			EXEC('INSERT INTO claim_summary_stats (claim_id) SELECT DISTINCT claim_id FROM '+@aggregate_table_name+
														   ' EXCEPT(SELECT DISTINCT claim_id FROM claim_summary_stats)'
				)
			EXEC('UPDATE claim_summary_stats SET '+@aggregate_table_column+'='+@aggregate_table_name+'.'+@aggregate_table_column+
				 ' FROM '+@aggregate_table_name+' JOIN claim_summary_stats ON (claim_summary_stats.claim_id='+@aggregate_table_name+'.claim_id)'
				)				 
		END
	
		SET @query = 'DROP TABLE '+@aggregate_table_name
		EXEC(@query)
	
	END
	
END
