USE [rework_wlp]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_INTO_TABLE_FROM_QUERY]    Script Date: 03/08/2011 17:48:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Singhal, Gaurav
-- Create date: 12/20/2010
-- Description:	Loads new data into ACN Tables 
-- =============================================
ALTER PROCEDURE [dbo].[INSERT_INTO_TABLE_FROM_QUERY]
	-- Add the parameters for the stored procedure here
	@query VARCHAR(MAX),
	@TargetTable VARCHAR(64),
	@LoadClaimsFlag BIT,
	@ExceptStmt VARCHAR(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @TargetField VARCHAR(64)
	DECLARE @TableName VARCHAR(64)
	DECLARE @FieldName VARCHAR(64)
	DECLARE @FKey1 VARCHAR(64)
	DECLARE	@FKey2 VARCHAR(64)
	DECLARE @PKey1 VARCHAR(64)
	DECLARE	@PKey2 VARCHAR(64)	
	DECLARE @FTable VARCHAR(64)	
	
	DECLARE @ETLClaimsFlag BIT
	SET @ETLClaimsFlag = 0 
	
	DECLARE @InsertStmt VARCHAR(MAX)	
	DECLARE @SelectStmt VARCHAR(MAX)
	DECLARE @FromStmt VARCHAR(MAX)	
	
	DECLARE @JoinStmt VARCHAR(MAX)
	SET @JoinStmt = ''	
	DECLARE @UpdateTableStmt VARCHAR(MAX)
	SET @UpdateTableStmt = NULL
	DECLARE @CurrentTable VARCHAR(50)
	SET @CurrentTable = ''
	
	SET @query = 'DECLARE MY_CURSOR CURSOR FOR '+@query
	PRINT (@query);
	EXEC(@query);
	
	OPEN MY_CURSOR
	FETCH NEXT FROM MY_CURSOR INTO @TargetField, @FieldName, @TableName, @PKey1, @PKey2, @FTable, @FKey1, @FKey2  

	WHILE @@FETCH_STATUS = 0 BEGIN
	
		IF @UpdateTableStmt IS NULL BEGIN
					
			--SET @CurrentTable = @TableName
			
			SET @InsertStmt = 'INSERT INTO '+@TargetTable+' ('+@TargetField
			SET @SelectStmt = 'SELECT DISTINCT '+@TableName+'.'+@FieldName
			SET @UpdateTableStmt = ''
		
		END ELSE BEGIN
		
			SET @InsertStmt = @InsertStmt+','+@TargetField
			SET @SelectStmt = @SelectStmt+','+@TableName+'.'+@FieldName			
										
		END
		
		IF @TableName<>@CurrentTable BEGIN
			SET @CurrentTable=@TableName
			
			IF @FTable='PRIMARY' BEGIN
				
				IF @LoadClaimsFlag=1 SET @FromStmt = 'FROM (SELECT raw_claim_id FROM ETL_claims WHERE is_new=1)dt JOIN '+@CurrentTable+' ON (dt.raw_claim_id='+@CurrentTable+'.'+@Pkey1+')'
				ELSE SET @FromStmt = 'FROM '+@CurrentTable				

			END ELSE BEGIN
			
				SET @JoinStmt = @JoinStmt+'JOIN '+@CurrentTable+' ON ('+@CurrentTable+'.'+@PKey1+'='+@FTable+'.'+@FKey1
				IF @FKey2 IS NOT NULL BEGIN
					SET @JoinStmt = @JoinStmt+' AND '+@CurrentTable+'.'+@PKey2+'='+@FTable+'.'+@FKey2
				END
				SET @JoinStmt = @JoinStmt+') '
			
			END	
		END

		PRINT(@InsertStmt)
		PRINT(@SelectStmt)
		PRINT(@FromStmt)
		PRINT(@JoinStmt)	
		
		FETCH NEXT FROM MY_CURSOR INTO @TargetField, @FieldName, @TableName, @PKey1, @PKey2, @FTable, @FKey1, @FKey2  
		
	END
	
	CLOSE MY_CURSOR
	DEALLOCATE MY_CURSOR
	
	SET	@InsertStmt = @InsertStmt +')'

	IF @ExceptStmt IS NOT NULL BEGIN
		PRINT(@InsertStmt+' '+@SelectStmt+' '+@FromStmt+' '+@JoinStmt+' '+@ExceptStmt)
		--EXEC (@InsertStmt+' '+@SelectStmt+' '+@FromStmt+' '+@JoinStmt+' '+@ExceptStmt)	
	END ELSE BEGIN
		PRINT(@InsertStmt+' '+@SelectStmt+' '+@FromStmt+' '+@JoinStmt)
		--EXEC (@InsertStmt+' '+@SelectStmt+' '+@FromStmt+' '+@JoinStmt)	
	END	

END

			--IF @UpdateTableStmt<>'' BEGIN
			--	SET @UpdateTableStmt = @InsertStmt+') '+@SelectStmt+' '+@FromStmt+' '+@JoinStmt
			--	IF @ExceptStmt IS NOT NULL BEGIN
			--		SET @UpdateTableStmt = @UpdateTableStmt+' '+@ExceptStmt
			--	END
			--	
			--	PRINT(@UpdateTableStmt)
			--	--EXEC(@UpdateTableStmt)
			--END