USE [rework_wlp]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_CLUSTER_DETAIL_STATS]    Script Date: 03/08/2011 17:48:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sai Venky
-- Create date: 2/21/2011
-- Description:	Update cluster stats in cluster details
-- =============================================
ALTER PROCEDURE [dbo].[UPDATE_CLUSTER_DETAIL_STATS]
	-- Add the parameters for the stored procedure here
	@MIN_HISTORICAL_LABELED int = 10
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
 update cluster_details set 
 n_is_not_rework = dtt.n_is_not_rework,
 cluster_priority = dtt.cluster_priority,
 n_is_rework = dtt.n_rework
 , n_overpay = dtt.n_overpay
 , n_underpay = dtt.n_underpay
 , n_known = dtt.n_known
 , n_unknown = dtt.n_unknown
 , score_avg = dtt.score_avg
 , score_stdev = dtt.score_stdev
 , score_min = dtt.score_min
 , score_max = dtt.score_max
 , n_medsupp = dtt.n_medsupp
 , n_its = dtt.n_its
 from cluster_details join
 (
    select *, case when n_known = 0 then 0 else cast(n_rework as float)/(n_known) + case when n_known >= @MIN_HISTORICAL_LABELED then @MIN_HISTORICAL_LABELED else 0 end end cluster_priority
    from 
        (
            select ccd.cluster_detail_id
                , sum(isnull(is_underpay,0)) n_underpay
                , sum(isnull(is_overpay,0)) n_overpay
                , SUM(isnull(is_rework,0)) n_rework
                , SUM(isnull((case when is_rework = 0 then 1 end),0)) n_is_not_rework
                , sum(ISNULL(case when cl.claim_id is not null then 0 end,1)) n_unknown
                , SUM(isnull(is_rework,0)) + SUM(isnull((case when is_rework = 0 then 1 end),0)) n_known
                , avg(cs.score) as score_avg
                , stdev(cs.score) as score_stdev
                , min(cs.score) as score_min
                , max(cs.score) as score_max
                , SUM( case when (SUBSTRING(clm_PDPD_ID,1,3) in ('MDT','MLL','MLP','MLS','MLT','MOG','MPC','MPP','MPS','MPT','MSG'))
                       and (ISNULL(case when cl.claim_id is not null then 0 end,1) = 1) then 1 else 0 end) n_medsupp
                , SUM( case when (raw_claim_id like '%T%') and (ISNULL(case when cl.claim_id is not null then 0 end,1) = 1) then 1 else 0 end) n_its
                --, c.raw_claim_id
                --, ISNULL(case when cl.claim_id is not null then 0 end,1)
            from cluster_details cd
            join claim_cluster_details ccd on cd.id = ccd.cluster_detail_id
            left join claim_labels cl on cl.claim_id = ccd.claim_id
            left join cluster_instances ci on cd.cluster_instance_id = ci.id
            left join (select distinct claim_id, max(score) score, model_statistic_id from claim_scores group by claim_id, model_statistic_id) cs on ccd.claim_id = cs.claim_id and cs.model_statistic_id = ci.model_statistic_id
            join ETL_claim_headers c on ccd.claim_id = c.claim_id
            group by ccd.cluster_detail_id
        )dt
 )dtt
 on dtt.cluster_detail_id = cluster_details.id
END
